.menu-anchor {
  color: #434343 !important;
}

.toast-text {
  margin-left: 10px;
  margin-top: 10px;
}

@media only screen and (max-width: 720px) {
  .header-gr {
    position: fixed;
  }
}

.social-icon {
  margin-left: 10px;
}

.app {
  position: relative;
  min-height: 100vh;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
